html, body, h1, h2, h3, p, ul, ol, div, span, a, button, input, textarea {
  margin: 0;
  padding: 0;

  background: transparent;
  border: none;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.group:after {
  display: block;
  clear: both;
  content: "";
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.0625em;
}

.home {
  height: 1025px;
}

.home-cover {
  background: image-url('sloth-bg.jpg');
  background-size: cover;
  box-shadow: inset 0 -255px 680px -160px rgba(0,0,0,.4),inset 0 153px 136px -85px rgba(0,0,0,.5);
  background-position: center;
  color: #fff;

  .nav-button {
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.75);
  }
}

.logo {
  margin: 15px 40px;
  font-size: 30px;
  float: left;
  position: relative;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.nav-button {
  margin: 15px;
  padding: 8px 14px 12px;
  border-radius: 4px;
  float: right;
  opacity: .8;

  &:hover {
    opacity: 1;
    box-shadow: inset 0 0 0 2px #fff,0 1px 1px rgba(0,0,0,.1);
  }
}

.tagline {
  position: relative;
  top: 280px;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.home-form {
  color: #555459;
  background: #f9f9f9;

  .nav-button {
    color: #404b55;
    box-shadow: inset 0 0 0 2px #404b55;
  }

  nav {
    background: #fff;
    height: 70px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
}


.error {
  display: block;
  background: #fff;
  width: 66.13%;
  max-width: 633px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  border-left: 5px solid #cb5234;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: -28px;
  padding: 5px 12px;

  &:before {
    content: "⚠︎";
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
    padding-right: 5px;
    color: #cb5234;
  }
}

.session-form {
  padding: 30px;
  margin: 45px auto;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  display: block;
  width: 66.13%;
  max-width: 633px;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  h2 {
    font-weight: 700;
    font-size: 30px;
  }

  h3 {
    font-size: 16px;
    padding: 12px 0 14px;
  }

  input {
    display: block;
    margin: auto;
    height: 48px;
    padding: 12px;
    width: 70%;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  input[type="text"], input[type="password"] {
    border: 1px solid #C5C5C5;
  }

  input[type="submit"] {
    margin-top: 16px;
    background: #2ab27b;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
  }

  span {
    font-size: 16px;

    a, button {
      color: #3aa3e3;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.sidebar {
  float: left;
  height: 100%;
  display: block;
  width: 220px;
  background: #4d394b;
  color: #ab9ba9;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  z-index: 6;
}

.sidebar-header {
  height: 60px;
  cursor: pointer;
  padding: 0 20px;
  position: relative;
  z-index: 6;

  &:hover {
    background: rgb(62, 49, 60);

    .sidebar-username {
      color: #fff;
    }

    .sidebar-logo:after {
      color: #fff;
    }
  }

  &.toggled {
    background: rgb(62, 49, 60);

    .sidebar-username {
      color: #fff;
    }

    .sidebar-dropdown {
      display: block;
    }

    .sidebar-logo:after {
      color: #fff;
    }
  }
}

.sidebar-logo {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  position: relative;
  z-index: 6;

  &:after {
    position: absolute;
    left: 55px;
    top: 12px;
    display: inline-block;
    color: #ab9ba9;
    font-weight: 900;
    content: "⌵";
    font-size: 14px;
    opacity: .6;
  }
}

.sidebar-username {
  font-size: 14px;

  &:before {
    display: inline-block;
    content: "●";
    font-size: 20px;
    line-height: .8;
    padding-right: 2px;
    position: relative;
    top: 1px;
    color: #38978D;
  }
}

.sidebar-dropdown {
  z-index: 6;
  cursor: default;
  position: absolute;
  top: 56px;
  left: 10px;
  color: #2c2d30;
  background: #fff;
  border-radius: 6px;
  display: none;
  width: 270px;
  box-shadow: 0 5px 10px rgba(0,0,0,.12);
  border: 1px solid rgba(0,0,0,.15);

  h2 {
    padding-top: 16px;
    margin-left: 22px;
    font-weight: 900;
    color: #555459;
    font-size: 18px;
  }

  h3 {
    margin-left: 22px;
    font-size: 16px;
    color: #A0A0A2;
  }

  ul {
    padding-top: 10px;
    padding-bottom: 20px;

    li {
      display: block;
    }

    button {
      padding: 0 16px 0 8px;
      margin: 0 15px;
      line-height: 1.5;
      display: block;
      text-align: left;
      font-size: 16px;
      width: 238px;

      &:hover {
        cursor: pointer;
        background: rgb(58, 163, 227);
        color: #fff;
        border-radius: 4px;
      }
    }
  }
}

.sidebar-subheading {
  position: relative;
  button {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 20px 5px;

    span {
      opacity: .6;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      transition: color 0.2s ease;
      color: #fff;
      cursor: pointer;
    }
  }

  .plus-button {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    border: 2px solid #ab9ba9;
    border-radius: 50%;
    font-size: 16px;
    margin-left: auto;
    padding: 0;
    width: 16px;
    line-height: .8;
    opacity: .4;
    vertical-align: middle;
    position: absolute;
    right: 25px;
    top: 10px;

    &:hover {
      transition: color 0.2s ease;
      transition: opacity 0.2s ease;
      color: #fff;
      opacity: 1;
      cursor: pointer;
    }
  }
}

.channel-list {
  li a {
    display: block;
    padding: 2px 20px;
    width: 200px;
    margin-right: auto;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &:hover {
      background: rgb(62, 49, 60);
    }

    &:before {
      content: "# ";
      font-size: 14px;
      opacity: .6;
    }
  }

  .channel-selected a {
    color: #fff;
    background: #4c9689;

    &:hover {
      background: #4c9689;
    }
  }
}

.message-feed {
  float: left;
  padding-left: 220px;
  display: block;
  width: 100%;

  header {
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    height: 60px;
    border-bottom: 1px solid #e8e8e8;
    z-index: 5;

    h2 {
      padding: 8px 20px 0;
      font-size: 18px;
      font-weight: 700;

      &:before {
        content: "#";
        z-index: 666;
      }
    }

    small {
      color: #9e9ea6;
      padding-left: 20px;
      font-size: 14px;
    }
  }
}

.message-feed-main {
  padding-top: 60px;
  display: block;
  width: 100%;
  position: relative;
  z-index: -2;
}

.channel-search, .channel-form {
  width: 640px;
  height: 400px;
  margin: 100px auto;
  color: #555459;
  -webkit-font-smoothing: antialiased;

  h2 {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 40px;
    color: #2c2d30;
  }

  ul {
    height: 100%;
    overflow: auto;
  }

  .channel-search-item {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
    position: relative;

    button {
      padding: 12px 0 12px 10px;
      text-align: left;
      display: block;
      width: 100%;
      cursor: pointer;
    }

    &:first-child {
      border-top: 1px solid #e8e8e8;
    }

    &:hover {
      background: #edf7fd;
      border: 1px solid #d3ecfa;
      border-radius: 6px;

      &:after {
        color: #439fe0;
        position: absolute;
        content: "Join Channel";
        right: 20px;
        top: 20px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .channel-search-name {
    font-weight: 700;
    &:before {
      content: "# ";
      font-size: 14px;
      opacity: .6;
    }
  }

}

.channel-search-info {
  font-style: italic;
  color: #9e9ea6;

  b {
    color: #67686e;
  }
}

.channel-form-label {
  display: block;
  width: 100%;
  font-weight: 700;

  input, textarea {
    display: block;
    resize: none;
    overflow: auto;
    width: 100%;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 400;
  }
}

.channel-form-submit {
  display: block;
  background: #2DB27C;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px 20px;
}

.modal-exit {
  color: #9e9ea6;
  position: absolute;
  top: 50px;
  right: 50px;
  border-radius: 50%;
  height: 70px;
  width: 70px;

  .modal-exit-icon {
    display: block;
    font-size: 24px;
  }

  .modal-exit-text {
    font-size: 12px;
  }

  &:hover {
    color: #555459;
    background: #e8e8e8;
  }

  &:focus {
    outline: none;
  }
}

.leave-channel-button {
  position: absolute;
  z-index: 7;
  cursor: pointer;
  left: 500px;
  top: 20px;
}
